<div *ngIf="foodType == 'cash' " class="container my-5">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">الحالة</th>
        <th scope="col">الموقف</th>
        <th scope="col">التصرف</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let data of allTableData ; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ data.case }}</td>
        <td>
          <span *ngFor="let situation of data.situation ; let i = index">
        <td class="table-primary"><span>{{(i+1).toLocaleString('ar-EG')}}-</span> {{situation}}</td><br>
        </span>
        </td>
        <td>
          <span *ngFor="let actions of data.actions ; let i = index">
            <span *ngFor="let action of actions ; let i = index">
              <p><span>{{(i+1).toLocaleString('ar-EG')}}-</span> {{action}}</p>
            </span>
          </span>
        </td>
      </tr>

    </tbody>
  </table>
</div>


<div *ngIf="foodType == 'cancelled' " class="container">
  <div class="container my-5">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">الحالة</th>
          <th scope="col">الموقف</th>
          <th scope="col">التصرف</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let data of cancelledOnlineData ; let i = index">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ data.case }}</td>
          <td>
            <span *ngFor="let situation of data.situation ; let i = index">
              <p class="table-primary"><span>{{(i+1).toLocaleString('ar-EG')}}-</span> {{situation}}</p><br>
            </span>
          </td>
          <td>
            <span *ngFor="let actions of data.actions ; let i = index">
              <span *ngFor="let action of actions ; let i = index">
                <p><span>{{(i+1).toLocaleString('ar-EG')}}-</span> {{action}}</p>
              </span>
            </span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>





</div>


<div *ngIf="foodType == 'courier' " class="container">
  <div class="container my-5">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">الحالة</th>
          <th scope="col">الموقف</th>
          <th scope="col">التصرف</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let data of courierOnlineData ; let i = index">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ data.case }}</td>
          <td>
            <span *ngFor="let situation of data.situation ; let i = index">
              <p class="table-primary"><span>{{(i+1).toLocaleString('ar-EG')}}-</span> {{situation}}</p><br>
            </span>
          </td>
          <td>
            <span *ngFor="let actions of data.actions ; let i = index">
              <span *ngFor="let action of actions ; let i = index">
                <p><span>{{(i+1).toLocaleString('ar-EG')}}-</span> {{action}}</p>
              </span>
            </span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>





</div>