
<div class="container my-5">

    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center animate__animated animate__backInLeft">
            <h1 class="home-welcome-message">Welcome to shgardi care system</h1>

            <ul class="icons">
                <li class="icons-item">
                    <a href="https://dashboard.shgardi.app/admin/home" target="_blank">
                        <img src="assets/icons/dashboard.svg" alt="">
                    </a>
                </li>

                <li class="icons-item">
                    <a href="https://login.mypurecloud.de/#/splash" target="_blank">
                        <img src="assets/icons/pure-cloud.png" alt="">
                    </a>
                </li>


                <li class="icons-item">
                    <a href="https://shgardi.freshdesk.com/support/login" target="_blank">
                        <img src="assets/icons/freshdesk-icon.svg" alt="">
                    </a>
                </li>


                <li class="icons-item">
                    <a href="https://app.intercom.com/a/apps/romgpw6w/inbox/inbox/5083024/conversations/181159900051385" target="_blank">
                        <img src="assets/icons/intercom-1.svg" alt="">
                    </a>
                </li>


                <li class="icons-item">
                    <a href="https://app.intercom.com/a/apps/cp8tj2fn/inbox/inbox/5083024/conversations/89404" target="_blank">
                        <img src="assets/icons/intercom-2.svg" alt="">
                    </a>
                </li>
            
            </ul>


        </div>

        <div class="col-md-6 animate__animated animate__backInRight">
            <img class="w-100" src="assets/home-img.webp" alt="">
        </div>
    </div>

</div>