<section class=" d-flex align-items-center justify-content-center vh-100">
    <div class="error-container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    
                    <h1>Oops!</h1>

                    <h2>404 Not Found</h2>
                   
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                   
                    <div class="error-actions my-4">
                        <a routerLink="/login" class="btn">
                            Take Me Home
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
